.bouton{
    background-color: var(--bs-secondary);
    cursor: pointer;
    width: 300px;
}

.bouton:hover .btnText{
    background-color: var(--bs-primary);
    transition: ease-in-out 0.5s;
}

.bouton:hover .btnText .btnTextCat{
    color: var(--bs-dark);
    transition: ease-in-out 0.25s;
}

.bouton:hover div img{
    transition: ease-in-out 0.5s;
    z-index: 1000;
    transform: scale(1.3);
    transform-origin: 50% 50% 0px;
}

.bouton:active div img{
    transition: ease-in-out 0.25s;
    transform: scale(1);
}

.bouton:active .btnText{
    background-color: var(--bs-dark);
    transition: ease-in-out 0.25s;
}

.bouton:active .btnText .btnTextCat{
    color: var(--bs-light);
    transition: ease-in-out 0.25s;
}

.bouton:active .btnText .btnTextProd{
    color: var(--bs-primary);
    transition: ease-in-out 0.25s;
}

img{
    transition: ease-in-out 0.5s;
}

.btnTextCat{
    transition: ease-in-out 0.25s;
}

.btnTextProd{
    transition: ease-in-out 0.25s;
}

.btnText{
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}