.fiche:hover{
    transition: ease-in-out 0.25s;
    z-index: 1000;
    transform: scale(1.1);
    transform-origin: 50% 0% 0px;
    background-color: var(--bs-secondary);
}

.description{
    --webkit-line-clamp: 1;
    --webkit-box-orient: vertical;
}

.fiche:active{
    transform: scale(1);
}

.fiche{
    transition: ease-in-out 0.25s;
    cursor: pointer;
    --webkit-box-shadow: 15px 10px 15px 0px rgba(0,0,0,0.2);
    --moz-box-shadow: 15px 10px 15px 0px rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bs-dark);
    border: 0px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}